h1, h2, h3 {
            color: blue;
            text-align: center;
        }

        p {
            font-size: 18px;
            font-weight: bold;
        }

        .hVerde {
            color: green;
        }

        .hVermelho {
            color: red;
        }

        #h1Large {
            font-size: large;
        }

        #alinhaTexto {
            text-align: right;
        }

        div {
            border: 5px solid gray;
            height: 200px;
            width: 300px;
            margin: 10px;
            
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 10px;
            padding-left: 20px;
        }