@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font: 14px "Roboto", sans-serif;
    color: #333;
    background: #eaebec;
    -webkit-font-smoothing: antialiased !important;
}

h2, article {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 2px;
    background: black;
}

.cabecalho {
    height: 40px;
    padding: 30px;
    text-align: left;
    background: red;
    background: linear-gradient( to bottom, red, rgb(255, 251, 0) );
    overflow: hidden;
}

.menu {
    background: linear-gradient( to top, greenyellow, green );
    background-color: green;
    overflow: hidden;

}

.menu ul{
    margin-right: 10%;
    margin-left: 10%;
}

.menu ul, li{
    padding: 0;
    margin: 0;
}

.menu li, a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.menu a {
    padding: 15px 30px;
    border-radius: 5px;
    border:black solid 2px;
    
}

.menu a:hover{
    color: black;
    background: linear-gradient( to top, green, lightgreen );
}

.row {
    padding: 10px;
}

#secao1 {
    float: left;
    width: 60%;
    background-color: greenyellow;
    margin: 10px;
    border: black solid 2px;
}

#secao2 {
    float: left;
    width: 35%;
    background-color: yellow;
    margin: 10px;
    border: black solid 2px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.rodape {
    padding: 30px;
    background: yellow;
    text-align: center;
    margin-top: 20px;
    border: black solid 2px;
    margin: 0;
    padding: 10px;
}